{% extends 'base.html.twig' %}

{% block title %}Edit Gato3{% endblock %}

{% block body %}
    <h1>Edit Gato3</h1>

    {{ include('gato3/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('gato3_index') }}">back to list</a>

    {{ include('gato3/_delete_form.html.twig') }}
{% endblock %}
