{% extends 'base.html.twig' %}

{% block title %}New Gato3{% endblock %}

{% block body %}
    <h1>Create new Gato3</h1>

    {{ include('gato3/_form.html.twig') }}

    <a href="{{ path('gato3_index') }}">back to list</a>
{% endblock %}
